@import url("reset.css");

@import url(./fonts.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    min-height: 0vh;
    font-family: poppins, sans-serif;
    position: relative;
    top: 60px;
    left: 40%;
    background: linear-gradient(to right, #333399, #ff00cc);

}

.login {
    width: 400px;
    background: rgba(255, 255, 255, .5);
    padding: 1.5rem;
    border-radius: 10px;
    position: relative;
    top: -50px;
    left: -7%;

}
.login::before{
    content: "";
    position: absolute ;
    background: rgba(255, 255, 255, .15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;

}

.login h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.login p{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
     

.footer a{
    font-size: 14px;
    text-decoration: none;
    color: #333399;

   
}

.footer:hover{
    text-decoration: underline;
}

.footer2 a{
    font-size: 14px;
    text-decoration: none;
    color: #333399;
}

.footer2:hover{
    text-decoration: underline;
}

.login h2 + p + div{
    font-size: calc(1rem* .8);
    opacity: .8
}

.login form{
    display: flex;
    flex-direction: column;
    gap: -5rem;
}

.login form .form-item{
    position: relative;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="button"] {
    border: none;
    outline :none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    border-radius: 100px;
    width: 100%;
    transition: background 0.5s;
}

.login input[type="text"]:focus{
    background: white;
}
.login input[type="password"]:focus{
    background: white;  
}

.login input[type="button"] {
    background: black;
    color: white;
    padding: 0.5rem;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 2px; 
    transition: background 0.5s ;
    cursor: pointer;
}

.login input[type="button"]:hover{
    background-color: rgba(0, 0, 0, .85);
    cursor: pointer;
}

.login label{
    font-size: 16px;
    
}

.nav{
    font-size: medium;
    color: aquamarine;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
}

